@media only screen and (max-device-width: 524px) {
	.imgheader{
		display: none;
	}
	.textheader{
		position: relative;
		top: 20px;
		right: 18px;
		font-size: 50px;

	}
	.card{
		position: relative;
		left: 25px;
	}
}